[submodule "src/Universal_Robots_ROS2_Description"]
	path = src/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
[submodule "src/franka_description"]
	path = src/franka_description
	url = https://github.com/frankarobotics/franka_description.git
[submodule "src/moveit_resources"]
	path = src/moveit_resources
	url = https://github.com/moveit/moveit_resources.git
	branch = ros2
